@charset "UTF-8";
	body {
		
		background-color: #e8e8e8;
		
	    color: #5f5f5f;
	    font-size: 18px;
	    font-weight: 500;
	    font-family: sans-serif;
	    
	}

/*<hr>*/
	.line {
	    height: 3px;
	    border: none;
	    background-color: #a8a8a8;
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	}
	
/*ボタン（作光ちゃん）*/
	.button {
	  padding: 13px 20px;
	  border: none;
	  border-radius: 9px;
	  background-color: #999999;
	  color: white;
	  font-size: 16px;
	  font-weight: 500;
	  cursor: pointer;           /* カーソルをポインタに */
	}
	
/*ボタン（作加藤）*/
input[type="submit"],
input[type="reset"] {
  background-color: #ababab;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 13px;
  cursor: pointer;
  margin: 5px;
}

/*ヘッダーロゴ*/	
	header {
  	text-align: center;
	}

/*ボディー*/	
	body {
  	text-align: center;
	}
	